@page "/"

<PageTitle>Application Busca Mercado Car</PageTitle>

<h1>Bem Vindo!</h1>

<p>Esta aplicação foi desenvolvida para testar o inovador motor de busca para o mercado car. Explore e experimente a eficiência da nossa solução de busca para encontrar informações sobre veículos e muito mais.</p>

